#ignoring all files and folders in the current root
*

# allow Git to look inside these folder
!*/
!/.gitignore
!/Assets/Scripts/**
!/Docs/**

# ignore followings.
PrivateData.cs
*.DS_Store
*.meta
/.plastic/**